.DemButtons {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:13px;
	-moz-border-radius-topright:13px;
	border-top-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:0px;
	border:5px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:64px;
	line-height:64px;
	width:133px;
	text-decoration:none;
	text-align:center;
	margin: 10px;
}

.DemButtons:active {
	position:relative;
	text-decoration:none;
	top:1px;
}

.DemButtons:hover {
	position:relative;
	text-decoration:none;
	top:1px;
}